Source_Code/src/xml/editor/ComposedModelSchema.xsd

<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Composition">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Connector" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:long" name="Id"/>
              <xs:element type="xs:long" name="Sender"/>
              <xs:element type="xs:long" name="Receiver"/>
              <xs:element type="xs:string" name="Transistion"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>